@{
    switch (file?.file_type)
    {
        case "xlsx":
            <a class="btn btn-outline-success w-50" href="@file?.file_url" target="_blank">
                <span class="docicon-excel" aria-hidden="true"></span> <br/> @file?.file_name</a>
            break;

         case "docx":    
            <a class="btn btn-outline-info w-50" href="@file?.file_url" target="_blank">
            <span class="docicon-word" aria-hidden="true"></span> <br/> @file?.file_name</a>
            break;
         
         case "pptx":    
            <a class="btn btn-outline-danger w-50" href="@file?.file_url" target="_blank">
            <span class="docicon-powerpoint" aria-hidden="true"></span> <br/> @file?.file_name</a>
            break;

         case "pdf":
            <a class="btn btn-outline-danger w-50" href="@file?.file_url" target="_blank">
            <span class="docicon-pdf" aria-hidden="true"></span> <br/> @file?.file_name</a>
            break;
        
         default:
            <a class="btn btn-outline-info w-50" href="@file?.file_url" target="_blank">
            <span class="docicon-other" aria-hidden="true"></span> <br/> @file?.file_name</a>
            break;
    }
}


@code{
    [Parameter] public YammerFile? file { get; set; }
}