<div class="position-relative p-5 m-5">
    <div class="position-absolute top-50 start-50">
        <div class="spinner-border text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p><em>Loading...</em></p>
    </div>
</div>