@page "/GroupThreads/{group_id}"
@inherits Library.CommonBlazorBase

<PageTitle>@Model.Group.group_name</PageTitle>

<div class="row">
    <div class="col-lg-9">
        <h1>@Model.Group.group_name</h1>
    </div>
    <div class="col-lg-3 text-right">
        <button class="btn btn-secondary float-end"  @onclick="GetData">重新讀取</button>
    </div>
</div>

<ThreadDisplay @ref="threadDisplay" ListData=@Model.ListData></ThreadDisplay>

<Pager @ref="pagerLink" Model=@Model.Pager></Pager>
 