@page "/GroupThreads/{group_id}"
@inherits Library.CommonBlazorBase

<PageTitle>@Model.Group.group_name</PageTitle>

<div class="row">
    <div class="col">
        <h1>@Model.Group.group_name 
            <button class="btn btn-secondary float-end" @onclick="GetData">重新讀取</button>
        </h1>
    </div>
</div>

<Pager @ref="pagerLink" Model=@Model.Pager OnPageClicked=@OnPageClicked></Pager>
<ThreadDisplay @ref="threadDisplay" ListData=@Model.ListData></ThreadDisplay>
<Pager @ref="pagerLink" Model=@Model.Pager OnPageClicked=@OnPageClicked></Pager>

@if (IsLoadingData == true)
{
    <div class="row">
        <div class="col">
            <LoadingIndicator />
        </div>
    </div>
}
