@page "/Threads/{thread_id}"
@inherits Library.CommonBlazorBase
@attribute [Authorize]
<PageTitle>@ThreadName</PageTitle>

<div class="row row-cols-1">
    <div class="col">
        <h1>View Conversation</h1>
    </div>
    @if (Model.ListData == null)
    {
        <div class="col">
            <h6>0 total results for <b>@thread_id</b></h6>
        </div> 
    }
</div>

<ThreadDisplay @ref="threadDisplay" ListData=@Model.ListData></ThreadDisplay>